nav{
    position: absolute;
    background: rgba(208, 174, 108, 0.71);
    width: 100%;
    height: 4rem;
}

.navbar-link.container{
    position: relative;
    width: 100%;
    display: flex;
}

.nav-item{
    font-size: 5rem;
    color: #53361C;
    
}
