nav{
    padding: .3rem 0;
    color: var(--dark-brown);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    background: var(--beige);
    height: 4rem;
    position: relative;
}

.navbar-container{
    display: grid;
    grid-template-areas: 
    "logo-container   list-container   logout";
    grid-template-columns: 1fr 4fr .5fr;
    vertical-align: center;
    height: 4rem;
    
}

.list-container{
  background-color: transparent;
  display: flex;
  flex-direction: row;  
}

.nav-link {
  color: var(--dark-brown);
  font-size: 1rem;
  font-weight: normal;
  position: relative;
  transition: color 0.5s;
  text-transform: uppercase;
}


.logo{
    width: 8rem;
    height: auto;
}

.nav-item{
    margin: 0 1rem;
}

.logout{
    width: 4rem;
    height: 4rem;
}

.logo-container{
    place-self: center;
}