.authPage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  row-gap: 1rem;
  column-gap: 3rem;
}

.authPage-container {
  margin-left: 0;
  margin-right: 0;
}

.authPage--hive {
  display: none;
  width: 30rem;

  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  opacity: 70%;
}

.authPage--logo {
  display: none;
  width: 300px;
}

@media (min-width: 60.875em) {
  .authPage--hive,
  .authPage--logo {
    display: block;
  }
}

/* @media (min-width: 40.625em) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 46.875em) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 100em) {
  html {
    font-size: 110%;
  } */
