/*footer styles*/

.footer {
  padding: 0.3rem 0;
  color: var(--dark-brown);
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--beige-transparent);
}
.footer-content {
}

.footer-brand {
  width: 2rem;
  margin: bottom;
  display: flex;
  justify-content: left;
}

.footer-heading {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.social-media-wrap {
  position: relative;
  display: block;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.icon-link {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  margin-right: 1rem;
  color: var(--dark-brown);
  background-color: var(--off-white);
  transition: background-color 0.5s;
}

.icon-link:hover {
  background-color: var(--off-white);
  color: var(--off-white);
}

.i {
  margin: auto;
  color: var(--dark-brown);
  z-index: 100;
  width: 1rem;
  height: 1rem;
}
